.container {
  display: flex;
  height: 75vh;
  justify-content: center;
  align-items: center;
}
.img {
  height: 95%;
  width: 91%;
  border-radius: 200px;
  object-fit: cover;
}

.shape {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 400px;
  border-radius: 200px;
  background-color: transparent;
  border: 1px dashed #b1adab;
}

@media (max-width: 768px) {
  .img {
    min-height: 490px;
    max-width: 290px;
  }
  .shape {
    height: 520px;
    width: 320px;
  }
}
