* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9c9b6;
  font-family: Arial, Helvetica, sans-serif;
}
/* BACKGROUND COLOR : #E2DAD7 */
/* ACCENT COLOR : #403634 */
/* TEXT COLOR : #261F1E */
h1,
h2,
h3,
h4,
h5 {
  color: #403634;
}
.container {
  padding-inline: 150px;
}
@media (max-width: 768px) {
  .container {
    padding: 0px 30px;
  }
}
