* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* BACKGROUND COLOR : #E2DAD7 */
/* ACCENT COLOR : #403634 */
/* TEXT COLOR : #261F1E */
body {
  padding: 30px 100px;
  background-color: #e2dad7;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: #403634;
}

@media (max-width: 768px) {
  body {
    padding: 10px 30px;
  }
}
